@tailwind base;
@tailwind components;
@tailwind utilities;


.explore{
  border: 2px solid white;
  background: white;
  padding: 95px 70px;
  border-radius: 109px;
}
.sections{
  width: 50%;
}

/* crew */

.imgdouglas{
  width: 390px;
  height: 480px;
}

/* technology */

.number-1, .number-2, .number-3{
  border: 1px solid white;
  border-radius: 80px;
  padding: 20px 30px;
}

